

#map3d{

}


#info{
	position:absolute;
	left:5px;
	right:5px;
	height:70px;
	bottom:0px;
	margin:0;
	padding:10px;
	font-size:9pt;
	color:#fff;
	
}

#chat-windows div{
	display: inline-block;
	margin: 10px;
}

table{
	width:100%;
}

td{
	text-align:left;
}