/*
@author: Anant Bhardwaj
@date: 08/11/2012
*/


html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}




ol, ul, li {
	list-style: none;
}

hr{
	background-color: #34495e;
	border: thin #34495e solid;
}

form{
	margin:0px auto;
	margin-top:30px;
	padding:30px;
	vertical-align:top;
	background-color: #ecf0f5;
	width:310px;
}

.form{
	margin:0px auto;
	margin-top:30px;
	padding:30px;
	vertical-align:top;
	background-color: #ecf0f5;
	width:border-box;
	box-shadow: 1px 0px 10px #666;
}

form label{
	font-weight:bold;
	color:#666;
}

form input[type="text"], input[type="password"]{
	width:250px;
}


input[type="text"], input[type="password"], select{
	padding:5px;
	border: #ccc solid thin;
	margin-left: 0px;
}
button, input[type="button"], input[type="submit"]{
	background: #1abc9c !important;
	color: #FFF;
	border: #ccc solid thin;
	padding:10px;
	border-radius: 10px;
	margin-left: 0px;
	font-weight: bold;
}


.button{
	background: #3498db !important;
	color: #fff;
	padding:10px;
	border-radius: 10px;
	margin-left: 0px;
	text-decoration: none;
}


textarea {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
	max-width: 100%;
	height:50px;
}

body {
	font-family: Calibri, "Gill Sans", "Gill Sans MT", "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size:0.9em;
	height: 100%;
	overflow: auto;
	background: #eee;
}



#header {
	margin:0 auto;
	top:0px;
	left:0px;
	height: 59px;
	font-size:1.1em;
	background: #34495e;
	width: 70%;
	position: relative;
}


#headlink-right{
	position:absolute;
	top: 20px;
	right:20px;
	color: #fff;
}

#headlink-left{
	position:absolute;
	top:5px;
	left:20px;
	color: #4c4c4c;
	font-weight: bold;
	font-family: 'Sintony', sans-serif;
}

#logo{
	font-weight: bold;
	font-family: 'Sintony', sans-serif;
	text-decoration: none;
	font-size: 2em;
	color: #fff;
	text-transform: capitalize !important;
}

#headlink-right a{
	background-color:#3498db;
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
	color: #fff;
}

#headlink-left a{
	text-decoration: none;
	color: #fff;
	text-transform: capitalize !important;
}


#page{
	position: relative;
	margin:0 auto;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width: 70%;
	background-color: #fff;
}






#content{
	margin: 0;
	padding: 0;
	background-color: #FFF;
	margin-bottom: 20px;
}

#content-layout{
	border-spacing: 1px;
	padding: 0;
	margin: 0;
	width: 100%;
}






.user-profile{
	text-align:center;
	vertical-align:middle;
	padding:10px;
}

.col-small{
	width:15%;
	min-width: 150px;
	padding: 0;
	vertical-align: top;
	background-color: #00aeef;
	border-right: solid 1px #00aff0;

}

.col-big{
	padding: 0px;
	max-width:85%;
	width:100%;
	vertical-align: top;

}

.content-inner {
	padding-left:30px;
	padding-right:30px;
	min-height: 400px;
}


.search{
	padding:0;
	padding-left:20px;
	padding-right: 20px;
	vertical-align: middle;
}

.nav{
	display: block;
	background-color: #2980B9;
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	text-shadow: 0.06em 0.06em 0.03em #ccc;
}

.nav:hover{
	background-color:#34495E;
}

.active, .active:hover{
	background-color: #34495E;
}



.links{
	margin: 0px;
}






.content-table{
	width:100%;
	border-spacing: 0;
	background-color: #fff;
	padding:0;
	margin:0;
}

.clickable {
  width: 100%;
}

.clickable:hover {
  background-color: #f5f5f5;
}

.content-table td {
	border-spacing: 0;
	border-bottom:1px solid #ccc;
}

.content{
	padding:0.7em;
	padding-bottom: 1em;
}

.metadata{
	width: 3em;
	vertical-align: middle !important;

}

.online{
  height:0.8em;
  width: 0.8em;
  margin:0;
  margin-right: 1em;
  background-image:url(/tp_static/images/online.png);
  background-size: 0.8em 0.8em;
  background-repeat:no-repeat;
  display: inline-block;
}
.offline{
  height:0.8em;
  width: 0.8em;
  margin:0;
  margin-right: 1em;
  background-image:url(/tp_static/images/offline.png);
  background-size: 0.8em 0.8em;
  background-repeat:no-repeat;
  display: inline-block;
}

.away{
  height:0.8em;
  width: 0.8em;
  margin:0;
  margin-right: 1em;
  background-image:url(/tp_static/images/away.png);
  background-size: 0.8em 0.8em;
  background-repeat:no-repeat;
  display: inline-block;
}


.chat-icon{
  height:2.2em;
  width: 2.2em;
  margin:0;
  margin-right: 1em;
  background-image:url(/tp_static/images/chat.png);
  background-size: 2.2em 2.2em;
  background-repeat:no-repeat;
  display: inline-block;
}

.email-icon{
  height:2.5em;
  width: 2.5em;
  margin:0;
  margin-right: 1em;
  background-image:url(/tp_static/images/email.png);
  background-size: 2.5em 2.5em;
  background-repeat:no-repeat;
  display: inline-block;
}


.profile-small{
  height:2em;
  width: 2em;
  margin:0;
  background-image:url(/tp_static/images/profile.png);
  background-size: 2em 2em;
  background-repeat:no-repeat;
  display: inline-block;
}


.profile-big{
  height:6em;
  width: 6em;
  margin:0;
  background-image:url(/tp_static/images/profile.svg);
  background-size: 6em 6em;
  background-repeat:no-repeat;
  display: inline-block;
}





.gray{
	color: #737373;
}

.strong{
	font-weight: bold;
}

.no-background{
	background-color: #fff !important;
}

.link{
	text-decoration: none;
}


.collapsible{
	background:#2B2B2B;
  font-weight:normal;
	/*background:#3D7AA6;*/
	cursor: pointer;
	border: 1px solid #ccc;
	color: #F6F6F6;
	padding: 0.7em;
}

.from{
	color:000;
	font-size: 1.1em;
}

.blurb{
  font-size: 0.9em;
  margin: 0.4em 0 0 0;
}

.search-container {
	vertical-align: middle;
	padding: 0.7em;
	font-weight: bold;
}

.search-box {
	box-sizing:border-box;
	width: 100%;
	height:30px;
	border:#ccc solid thin !important;
	border-radius: 10px;
}


.grid{
	padding: 5px;
	padding-left: 10px;
}


.grid1{
	background-color: #16A085;
}

.grid2{
	background-color: #27AE60;
}

.grid3{
	background-color: #2980B9;
}

.grid4{
	background-color: #8E44AD;
}

.grid5{
	background-color: #2C3E50;
}
.default-text {
}

.default-text-active {
	color: #a1a1a1;
	font-style: italic;
}


#info{
	margin:0;
	padding:0px;
	font-size:0.9em;
	color:#fff;
	background-color: #fff;
	box-sizing:border-box;

}

#teleport-help{
	box-sizing:border-box;
	width:100%;
	border-spacing: 0;
}

#map3d{
	left: 20px;
	right: 20px;
	bottom: 90px;
	min-height:500px;
	height: 80%;
}

#bottom-panel {
	width:60%;
	overflow: hidden;
	margin-bottom: 50px;
}

.border{
	border: 1px solid #ccc;
}

#messages{
	/*border: 2px solid #2C3E50;*/
	padding:10px;
	max-height:200px;
	overflow: scroll;
	width:100%;
	border-radius: 10px;
	margin:0px 0px 20px 0px;
}

#video-chat-container {
	margin: 0 auto;
	margin-bottom:20px;

}


#messages{
	box-sizing:border-box;
}



#text-chat-container {
	color:#2C3E50;
}

.mini-chat {
	float:left;
	width:18%;
	margin-left:10px;
}

.chat-controls {
	width:80%;
	float:right;
}

.chat-header {

}

.chat-form {
	width:100%;
	padding:10px;
	margin:0px;
}

.large-text {
	width:80% !important;
	height:100px;
}




#chat-windows div {

}


table.dataTable{
	width:100%;
	border-spacing:0;
}

table.dataTable thead tr th {
	color: #333;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	padding: 10px 15px;
	background: #D7ECFA;
	border-bottom: #ccc solid 1px;
	text-align:left;
}



table.dataTable tbody tr td {
	padding: 15px;
	border-bottom: #ccc solid 1px;
	vertical-align: middle;
}

table.dataTable tbody tr:hover td {
	background: #f0f4f9;
}
	
.dataTables_scroll {
	border: #ccc solid 1px;
}
	
.dataTables_filter {
	background: #f6f6f6;
	padding: 15px 5px;
	border: #ccc solid 1px;
}


.dataTables_filter{
	display:none;
}

.dataTables_wrapper .bottom {
	background: #f6f6f6;
	padding: 0px;
	border-bottom: #ccc solid 1px;
	color: #999;
}






