<!--
@author: Anant Bhardwaj

Teleport Web Page
-->
{% extends "layout.html" %}

{% block javascript %}
<script tyle="text/javascript">
$(document).ready(function(){
    

    $("#add_contact_btn").on('click', function(){
      $.ajax({
        type: 'POST',
        url: '/add_contact',
        data: {'email':$('#email').val(), 'message':$('#message').val()},
        success: function(res) {
          console.log(res)
          var html = '<div class="form">' +
          res.invite + ' added successfully to your contacts list. <br /> <br /> <br />' +
          '<a class= "button" href="/add_contact">Add More Contacts</a>' + '</div>'
          $('#content-area').html(html);
        }
      });
    });
});
</script>
{% endblock %}

{% block links %}
<div class="links">
<a class="nav" href="/contacts">Contacts</a>
<a class="nav" href="/feed">Feed</a>
<a class="nav" href="/teleport">Teleport</a>
</div>
{% endblock %}

{%block main_content_header %}  
{% endblock %}

{%block main_content_body %}
<div class="content-inner" id="content-area">
  <form id="new_contact">
  {% csrf_token %}
  <label for="email">Email Address</label><br />
  <input type="text" name="email" id="email" placeholder="Email address of the person you want to invite"/><br /><br />
  <label for="message">Message</label><br />
  <textarea name="message" id="message" placeholder="Message"/></textarea><br /><br />
  <input type="button" value="Add Contact" id="add_contact_btn"/>
</form>
</div>
</div>
{% endblock %}
