<!--
@author: Anant Bhardwaj

Teleport Web Page
-->

<!DOCTYPE HTML>
<html>
<head>
  <title>Teleport</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel=stylesheet href='/tp_static/css/style.css' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="/tp_static/javascript/jquery.dataTables.min.js"></script>
  <script src="http://anantb.csail.mit.edu:3000/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/tp_static/javascript/teleport.js"></script>

</head>

<body>
<script type="text/javascript">
function populate_contacts(){
  var raw_html = ''
  for (var i=0; i<40; i++){
  raw_html += get_contact_html()
  }
  $('#contacts-table').html(raw_html)

}

function get_status_html(s){
  var html = '<span class="offline"></span>'
  if(s=='online'){
    html = '<span class="online"></span>'
  }else if(s=='away'){
    html = '<span class="away"></span><'
  }
  return html
}

function get_email_html(e){
  var html = '<a href="mailto:' +e +'"><span class="email-icon"></span></a>'
  
  return html
}

function populate_contacts_table(res){
  var chat_html = '<a href="/teletalk"><span class="chat-icon"></span></a>'
  contacts_table.fnClearTable();
  for(var i = 0; i< res.contacts.length; i++){
    contacts_table.fnAddData( [
        res.contacts[i].name,
        get_status_html(res.contacts[i].status) + res.contacts[i].status,
        chat_html +  get_email_html(res.contacts[i].email)
    ]);
  }

}


$(document).ready(function(){
  $("#add_contact_btn").on('click', function(){
      var email = $('#add_contact').val();
      $.post('/add_contact', {'email':email},
          function(res){
            window.location.href="/contacts"
          }
      ); 
      
    });
   contacts_table = $('#contacts-table').dataTable({
      "sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
      "bPaginate": false,
      "bInfo": false,
      "bAutoWidth": false,
      "bFilter": true,
      "sWidth": "100%",
      "aoColumns": [                 
        {"bSortable": false, "sWidth": "40%"},
        {"bSortable": false, "sWidth": "20%"},
        {"bSortable": false, "sWidth": "40%"}
      ],
      "oLanguage": {
        "sEmptyTable": "Your contact list is empty"
      }  
    });


    $.get('get_contacts', 
        function(res){
          populate_contacts_table(res);
        }
    ); 

    $("#search_contacts").on('keyup', function(){
      contacts_table.fnFilter($(this).val())
    }) 
});



</script>

<div id="header">

    <span id="headlink-left">
    {% block headlink-left %}<a id="logo" href="/">Teleport</a>{% endblock %}
    </span>
    <span id="headlink-right">
    <a href="/logout">Log out</a>
    </span>

</div>


<div id="page">

<div id="content">
<table id="content-layout">
  <tr>
    <td class="col-small user-profile">

      <span class="profile-big"></span>

    </td>
    <td class="col-big search">
      <div class="search-container">
      <input type="text" id="add_contact" class="search-box" title="Add Contact" placeholder="Enter email address of the new contact" style="width:60%;margin-right:20px;"></input>
      <a class="button" href="#" id="add_contact_btn">Add</a>
      </div>
    </td>
  </tr>

  <tr>
<td class="col-small">

<div class="links">
<a class="nav active" href="/contacts">Contacts</a>
<a class="nav" href="/feed">Feed</a>
<a class="nav" href="/teleport">Teleport</a>
</div>
</td>
<td class="col-big">

  <div class="content-inner">
    <table id="contacts-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
  </table>
  </div>

</td>
</tr>
</table>
  </div>

</td>
</tr>
</table>

</div>
</div>
</body>
</html>
