<!-- 
@author: Anant Bhardwaj

Teleport Web Page
-->

<!DOCTYPE HTML>
<html>
<head>
  <title>Teleport</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel=stylesheet href='/tp_static/css/style.css' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
  <link rel=stylesheet href='/tp_static/css/firstpersoncam.css' type='text/css' />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  
</head>

<body>
<script type="text/javascript">



function get_contact_html(id){
  var raw_html = '<tr class="clickable">'
  raw_html += '<td class="metadeta"><span class="profile-small"></span></td>'
  raw_html += '<td class="content"><span class="online"></span><a href="/teletalk">Anant Bhardwaj</a></td>'
  raw_html += '</tr>'

  return raw_html
}


function populate_contacts(){
  var raw_html = ''
  for (var i=0; i<40; i++){
    raw_html += get_contact_html()
  }
  $('#contacts-table').html(raw_html)

}

$(document).ready(function(){
  populate_contacts()
});

</script>

<div id="header">
    
    <span id="headlink-left">
    {% block headlink-left %}<a id="logo" href="/">Teleport</a>{% endblock %}
    </span>
    <span id="headlink-right">
    <a href="/logout">Log out</a>
    </span>
    
</div>


<div id="page">

<div id="content">
<table id="content-layout">
  <tr>
    <td class="col-small user-profile">
      
      <span class="profile-big"></span>
    
    </td>
    <td class="col-big search">
      <div class="search-container">
      <input type="text" id="search_contacts" class="search-box" title="Search Contacts"></input>
      </div>
    </td>
  </tr>

  <tr>
<td class="col-small">

<div class="links">
<a class="nav active" href="/contacts">Contacts</a>
<a class="nav" href="/feed">Feed</a>
<a class="nav" href="/teleport">Teleport</a>
</div>
</td>
<td class="col-big">


  <table id="contacts-table" class="content-table">    
  </table>

</td>
</tr>
</table>

</div>
</div>
</body>
</html>
