<!--
@author: Anant Bhardwaj

Teleport Web Page
-->

<!DOCTYPE HTML>
<html>
<head>
  <title>Teleport</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel=stylesheet href='/tp_static/css/style.css' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="/tp_static/javascript/jquery.dataTables.min.js"></script>
  <script src="http://anantb.csail.mit.edu:3000/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/tp_static/javascript/teleport.js"></script>

</head>

<body>
<script type="text/javascript">



function populate_contacts(){
  var raw_html = ''
  for (var i=0; i<40; i++){
  raw_html += get_contact_html()
  }
  $('#contacts-table').html(raw_html)

}


function populate_contacts_table(res){
  contacts_table.fnClearTable();
  for(var i = 0; i< res.contacts.length; i++){
    curr = contacts_table.fnAddData( [
              res.contacts[i].name,
              res.contacts[i].status,
              ''
              ]);
  }

}





$(document).ready(function(){
  //populate_contacts()
      contacts_table = $('#contacts-table').dataTable({
      "sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
      "bPaginate": false,
      "bInfo": false,
      "bAutoWidth": false,
      "bFilter": true,
      "sWidth": "100%",
      "aoColumns": [                 
        {"bSortable": false, "sWidth": "40%"},
        {"bSortable": false, "sWidth": "20%"},
        {"bSortable": false, "sWidth": "40%"}
      ],
      "oLanguage": {
        "sEmptyTable": "Your contact list is empty"
      }  
    });


    $.get('get_contacts', 
        function(res){
          populate_contacts_table(res);
        }
    ); 

    $("#search_contacts").on('keyup', function(){
      contacts_table.fnFilter($(this).val())
    }) 
});

</script>

<div id="header">

    <span id="headlink-left">
    {% block headlink-left %}<a id="logo" href="/">Teleport</a>{% endblock %}
    </span>
    <span id="headlink-right">
    <a href="/logout">Log out</a>
    </span>

</div>


<div id="page">

<div id="content">
<table id="content-layout">
  <tr>
    <td class="col-small user-profile">

      <span class="profile-big"></span>

    </td>
    <td class="col-big search">
      <div class="search-container">
      <input type="text" id="search_contacts" class="search-box" title="Search Contacts" placeholder="Search your contact list" style="width:60%;margin-right:20px;"></input>
      <a class="button" href="/add_contact" style="float:right;">+&nbsp;&nbsp;Add Contact</a>
      </div>
    </td>
  </tr>

  <tr>
<td class="col-small">

<div class="links">
<a class="nav active" href="/contacts">Contacts</a>
<a class="nav" href="/feed">Feed</a>
<a class="nav" href="/teleport">Teleport</a>
</div>
</td>
<td class="col-big">

  <div class="content-inner">
  <table id="contacts-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
  </table>
  </div>

</td>
</tr>
</table>

</div>
</div>
</body>
</html>
