<!--
@author: Anant Bhardwaj

Teleport Web Page
-->
{% extends "layout.html" %}

{% block javascript %} 

<script type="text/javascript">
var invite = '{{invite}}'
function populate_contacts(){
  var raw_html = ''
  for (var i=0; i<40; i++){
    raw_html += get_contact_html()
  }
  $('#contacts-table').html(raw_html)

}

function get_status_html(s){
  var html = '<span class="offline"></span>'
  if(s=='online'){
    html = '<span class="online"></span>'
  }else if(s=='away'){
    html = '<span class="away"></span><'
  }
  return html
}

function get_email_html(e){
  var html = '<a href="mailto:' +e +'"><span class="email-icon"></span></a>'  
  return html
}

function populate_contacts_table(res){
  var chat_html = '<a href="/teletalk"><span class="chat-icon"></span></a>'
  contacts_table.fnClearTable();
  for(var i = 0; i< res.contacts.length; i++){
    contacts_table.fnAddData( [
        res.contacts[i].name,
        get_status_html(res.contacts[i].status) + res.contacts[i].status,
        chat_html +  get_email_html(res.contacts[i].email)
    ]);
  }

}


$(document).ready(function(){
  //populate_contacts()
    contacts_table = $('#contacts-table').dataTable({
      "sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
      "bPaginate": false,
      "bInfo": false,
      "bAutoWidth": false,
      "bFilter": true,
      "sWidth": "100%",
      "aoColumns": [                 
        {"bSortable": false, "sWidth": "60%"},
        {"bSortable": false, "sWidth": "15%"},
        {"bSortable": false, "sWidth": "25%"}
      ],
      "oLanguage": {
        "sEmptyTable": "Your contact list is empty"
      }  
    });


    $.get('get_contacts', 
        function(res){
          populate_contacts_table(res);
        }
    ); 

    $("#search_contacts").on('keyup', function(){
      contacts_table.fnFilter($(this).val())
    }) 
});

</script>
{% endblock %} 

{% block links %}
<div class="links">
<a class="nav active" href="/contacts">Contacts</a>
<a class="nav" href="/feed">Feed</a>
<a class="nav" href="/teleport">Teleport</a>
</div>
{% endblock %}

{% block main_content_header %} 
<div class="search-container">
<input type="text" id="search_contacts" class="search-box" title="Search Contacts" placeholder="Search your contact list" style="width:60%;margin-right:20px;"></input>
<a class="button" href="/add_contact" style="float:right;">+&nbsp;&nbsp;Add Contact</a>
</div>
{% endblock %} 



{% block main_content_body %} 
<div class="content-inner">
<table id="contacts-table">
<thead>
<tr>
  <th>Name</th>
  <th>Status</th>
  <th></th>
</tr>
</thead>
</table>
</div>
{% endblock %} 
