<!--
@author: Anant Bhardwaj

Teleport Web Page
-->

<!DOCTYPE HTML>
<html>
<head>
  <title>Teleport</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel=stylesheet href='/tp_static/css/style.css' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="/tp_static/javascript/jquery.dataTables.min.js"></script>
  <script src="http://anantb.csail.mit.edu:3000/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/tp_static/javascript/teleport.js"></script>

</head>

<body>
<script type="text/javascript">

function populate_feed(){
  var raw_html = ''
  for (var i=0; i<10; i++){
  raw_html += get_feed_html()
  }
  $('#feed-table').html(raw_html)
}

function populate_feeds_table(res){
  feeds_table.fnClearTable();
  for(var i = 0; i< res.feeds.length; i++){
    feeds_table.fnAddData( [
      res.feeds[i].time,
      res.feeds[i].message,
      ''
      ]);
  }

}

$(document).ready(function(){
  feeds_table = $('#feeds-table').dataTable({
      "sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
      "bPaginate": false,
      "bInfo": false,
      "bAutoWidth": false,
      "bFilter": false,
      "sWidth": "100%",
      "aoColumns": [                 
        {"bSortable": false, "sWidth": "40%"},
        {"bSortable": false, "sWidth": "20%"},
        {"bSortable": false, "sWidth": "40%"}
      ],
      "oLanguage": {
        "sEmptyTable": "No feed to display"
      }  
    });
    $.post('get_feeds', {}, 
        function(res){
          populate_feeds_table(res)
        }
    ); 
    
});

</script>

<div id="header">

    <span id="headlink-left">
    {% block headlink-left %}<a id="logo" href="/">Teleport</a>{% endblock %}
    </span>
    <span id="headlink-right">
    <a href="/logout">Log out</a>
    </span>

</div>


<div id="page">

<div id="content">
<table id="content-layout">
  <tr>
    <td class="col-small user-profile">

      <span class="profile-big"></span>

    </td>
    <td class="col-big search">
      
      <div class="search-container">
      <input type="text" id="search_feeds" class="search-box" title="Search feeds" placeholder="Search Feeds" style="width:60%;margin-right:20px;"></input>
      </div>

    </td>
  </tr>

  <tr>
<td class="col-small">

<div class="links">
<a class="nav" href="/contacts">Contacts</a>
<a class="nav active" href="/feed">Feed</a>
<a class="nav" href="/teleport">Teleport</a>
</div>
</td>
<td class="col-big">
  <div class="content-inner">
  <table id="feeds-table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Message</th>
        <th></th>
      </tr>
    </thead>
  </table>
  </div>
</td>
</tr>
</table>

</div>
</div>
</body>
</html>
