<!--
@author: Anant Bhardwaj

Teleport Web Page
-->
{% extends "layout.html" %}


{% block javascript %} 
<script type="text/javascript">

function populate_feed(){
  var raw_html = ''
  for (var i=0; i<10; i++){
  raw_html += get_feed_html()
  }
  $('#feed-table').html(raw_html)
}

function populate_feeds_table(res){
  feeds_table.fnClearTable();
  for(var i = 0; i< res.feeds.length; i++){
    feeds_table.fnAddData( [
      res.feeds[i].timestamp,
      res.feeds[i].msg,
      ''
      ]);
  }

}

$(document).ready(function(){
  feeds_table = $('#feeds-table').dataTable({
      "sDom": '<"top"f<"clear">>rt<"bottom"ilp<"clear">>',
      "bPaginate": false,
      "bInfo": false,
      "bAutoWidth": false,
      "bFilter": false,
      "sWidth": "100%",
      "aaSorting":[],
      "aoColumns": [                 
        {"bSortable": false, "sWidth": "30%"},
        {"bSortable": false, "sWidth": "60%"},
        {"bSortable": false, "sWidth": "10%"}
      ],
      "oLanguage": {
        "sEmptyTable": "No feed to display"
      }  
    });
    $.get('get_feeds', {}, 
        function(res){
          populate_feeds_table(res)
        }
    ); 
    
});

</script>
{% endblock %} 

{% block main_content_header %}       
  <div class="search-container">
  <input type="text" id="search_feeds" class="search-box" title="Search feeds" placeholder="Search Feeds" style="width:60%;margin-right:20px;"></input>
  </div>
{% endblock %} 

  
{% block links %} 
<div class="links">
<a class="nav" href="/contacts">Contacts</a>
<a class="nav active" href="/feed">Feed</a>
<a class="nav" href="/teleport">Teleport</a>
</div>
{% endblock %} 


{% block main_content_body %} 
<div class="content-inner">
<table id="feeds-table">
<thead>
<tr>
  <th>Date</th>
  <th>Message</th>
  <th></th>
</tr>
</thead>
</table>
</div>
{% endblock %} 
