<!-- 
@author: Anant Bhardwaj

Teleport Web Page
-->

{% extends "base.html" %}
{% block headlink-right %}
<a href="/logout">Log out</a>
{% endblock %}
{% block content %}  

<script type="text/javascript">

function get_feed_html(id){
  var raw_html = '<tr class="clickable">'
  raw_html += '<td class="metadeta"><span class="profile-small"></span></td>'
  raw_html += '<td class="content">'
  raw_html += '<ul>'
  raw_html += '<li class="from">Anant Bhardwaj</li>'
  raw_html += '<li class="blurb">Our study suggests that a careful combination of methods that increase social transparency and different peer-dependent reward schemes can significantly improve crowdsourcing outcomes.</li>'
  
  raw_html += '</ul>'
  raw_html += '</td>'
  raw_html += '</tr>'

  return raw_html
}


function get_chat_contact_html(id){
  var raw_html = '<tr class="clickable">'
  raw_html += '<td class="metadeta"><span class="profile-small"></span></td>'
  raw_html += '<td class="content"><span class="online"></span>Anant Bhardwaj</td>'
  raw_html += '</tr>'

  return raw_html
}

function populate_feed(){
  var raw_html = ''
  for (var i=0; i<10; i++){
    raw_html += get_feed_html()
  }
  $('#feed-table').html(raw_html)
}

function populate_chat_contacts(){
  var raw_html = ''
  for (var i=0; i<10; i++){
    raw_html += get_chat_contact_html()
  }
  $('#chat-contacts-table').html(raw_html)

}

$(document).ready(function(){
  populate_feed()
  populate_chat_contacts()
});

</script>





<div id="content">
<div id="col1">
<div class="profile-container">
  <spam class="profile-big"></span>
</div>
Anant Bhardwaj

<div class="links">
<a href="#">News Feed</a> <br />
<a href="#">Contacts</a> <br />
<a href="#">Recent Calls</a> <br />
</div>
</div>

<div id="col2">
  <table id="feed-table" class="content-table">    
  </table>
</div>
<div id="col3">
  <table id="chat-contacts-table" class="content-table" style="border: #ccc solid 1px;">
  </table>
  <div class="search-container" style="border: #ccc solid 1px;">
      <input type="text" id="search_contacts" class="search-box" title="Search Contacts"></input>
  </div>
</div>

</div>
{% endblock %}
