<!--
@author: Anant Bhardwaj

Teleport Web Page
-->

<!DOCTYPE HTML>
<html>
<head>
<title>Teleport</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel=stylesheet href='/tp_static/css/style.css' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
<link rel=stylesheet href='/tp_static/css/firstpersoncam.css' type='text/css' />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/tp_static/noty/jquery.noty.js"></script>
<script type="text/javascript" src="/tp_static/noty/layouts/topCenter.js"></script>
<script type="text/javascript" src="/tp_static/noty/themes/default.js"></script>
<script type="text/javascript" src="/tp_static/javascript/jquery.dataTables.min.js"></script>

<script src="http://www.google.com/jsapi?key=AIzaSyAdgYw9dd2TiekDSJ7tsQC0ogDcDwD673s"></script>
<script type="text/javascript" src="/tp_static/javascript/keyboard-focus-hack.js"></script>
<script type="text/javascript" src="/tp_static/javascript/math3d.js"></script>
<script type="text/javascript" src="/tp_static/javascript/firstpersoncam.js"></script>

<script src="http://teleport.csail.mit.edu:3000/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/tp_static/javascript/teleport.js"></script>

<script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" ></script>

</head>

<body>
<div id="header">
<span id="headlink-left">
<a id="logo" href="/">Teleport</a>
</span>
<span id="headlink-right">
<a href="/settings">Settings</a>
<a href="/logout">Log out</a>
</span>
</div>


<div id="page">
<div id="content backdrop">

<table id="content-layout">
<tr>
<td class="col-small user-profile">
    <span class="profile-big"></span>
</td>
<td id="header-right" class="col-big search backdrop-subtle" style="position:relative;">
{% block main_content_header %}{% endblock %}
</td>
</tr>
<tr>
<td class="col-small">
{% block links %}
<div class="links">
<a class="nav" href="/contacts">Contacts</a>
<a class="nav" href="/feed">Feed</a>
<a class="nav" href="/teleport">Teleport</a>
</div>
{% endblock %}
<div style="width:120px;">
    <div class="mini-chat">
        <div id="my-chat-window"></div>
    </div>
</div>

<div class="session-info">
    <div style="width:120px;">
        <div class="mini-chat">
            <div id="other-chat-window"></div>
        </div>
    </div>
</div>



</td>
<td class="col-big backdrop">
{% block main_content_body %}{% endblock %}
</td>
</tr>
</table>

</div>
</div>

<script>
var userId, apiKey, teleTalk;

$(document).ready(function(){
    var _userId = '{{login_id}}';
    var _apiKey = '{{api_key}}';
    if (_userId && _apiKey) {
        localStorage.setItem('userId', _userId);
        localStorage.setItem('apiKey', _apiKey);
    }
    userId = localStorage.getItem('userId');
    apiKey = localStorage.getItem('apiKey');

});
</script>
{% block javascript %}{% endblock %}

<script>
console.log(teleTalk);
if (!teleTalk) {
    bindGlobalEvents();
    getLiveSessions(userId);
}
</script>


</body>
</html>
