{% extends "base.html" %}
{% block headlink-right %}
<a href="/register">Create a New Account</a>
{% endblock %}
{% block content %}
<form method="POST" action="/login">
	{% csrf_token %}
	<h3>Teleport Login</h3>
	<hr />
	<label for="username">Email</label><br />
	<input type="text" name="login_email" id="login_email" placeholder="Your email address"/><br /><br />
	<label for="password">Password</label><br />
	<input type="password" name="login_password" id="login_password" placeholder="Your password"/><br /><br />
	<input type="submit" value="Log In" />
</form>
{% endblock %}
