<!--
@author: Anant Bhardwaj

Teleport Web Page
-->
{% extends "layout.html" %}


{% block javascript %} 
<script type="text/javascript">

$(document).ready(function(){
  populate_contacts()
});

</script>

{% endblock %} 


{% block main_content_header %} 
<div class="search-container">
<input type="text" id="search_contacts" class="search-box" title="Search Contacts"></input>
</div>
{% endblock %} 

   
{% block main_content_body %} 
<div class="content-inner">
<table id="contacts-table" class="content-table">
</table>
</div>
{% endblock %} 


