<!--
@author: Anant Bhardwaj

Teleport Web Page
-->
{% extends "layout.html" %}


{% block javascript %} 
<script type="text/javascript">

$(document).ready(function(){
  populate_contacts()
});

</script>

{% endblock %} 




 {% block main_content_body %}   

<div class="content-inner">
<form method="POST" action="/update_settings">
  {% csrf_token %}
  <label for="email">Email Address</label><br />
  <input type="text" name="email" id="email" placeholder="Your email address"/><br /><br />
  <label for="f_name">First Name</label><br />
  <input type="text" name="f_name" id="f_name" placeholder="Your first name"/><br /><br />
  <label for="l_name">Last Name</label><br />
  <input type="text" name="l_name" id="l_name" placeholder="Your last name"/><br /><br />
  <label for="password">Password</label><br />
  <input type="password" name="password" id="password" placeholder="Enter your password"/><br /><br />
  <input type="submit" value="Update Settings" />
</form>
</div>
{% endblock %} 


