{% extends "layout.html" %}

{% block javascript %}   
<script type="text/javascript">

$(document).ready(function(){
  
  var loc = get_hash()
  bindTeletalkEvents()
  initTeleport(loc)

  $("#teleport_me_btn").on('click', function(){
    var geocodeLocation = $('#teleport_input').val();
    setLocation(geocodeLocation)
  });

  $("#placemark_me_btn").on('click', function(){
    var geocodeLocation = $('#teleport_input').val();
    setLocation(geocodeLocation)
    createPlacemark(geocodeLocation)
    
  });

  $("#teleport_input").on('keydown', function(event){
      event.stopPropagation();
  });

  $("#teleport_input").on('keyup', function(event){
      event.stopPropagation();
  });


});

$(document).unload(function(){
  GUnload()
})

$(document).on('keydown', function(event){
  event.returnValue = false;
  
  socket.emit('lead', {
        user_id: localStorage.getItem('userId'),
        session_id: localStorage.getItem('sessionId'),
        'keydown' : event.keyCode
    })
  /*
  keyDown(event.keyCode)
  return false
  */
})

$(document).on('keyup', function(event){
  event.returnValue = false;
  
  socket.emit('lead', {
        user_id: localStorage.getItem('userId'),
        session_id: localStorage.getItem('sessionId'),
        'keyup' : event.keyCode
    })
  /*
  
  
  keyUp(event.keyCode)
  return false
  */
})
</script>

{% endblock %}   


{% block links %}
<div class="links">
<a class="nav" href="/contacts">Contacts</a>
<a class="nav" href="/feed">Feed</a>
<a class="nav active" href="/teleport">Teleport</a>
</div>
{% endblock %}




{% block main_content_header %}   
<div class="search-container">
<input type="text" id="teleport_input" class="search-box" style="width:60%;margin-right:20px;" title="Teleport Me" placeholder="Enter a location (e.g. MIT)" x-webkit-speech speech required onspeechchange="do_f(event);">
<a class="button" href="#" id="teleport_me_btn" style="width:100px !important;">Teleport Me</a>
<a class="button" href="#" id="placemark_me_btn" style="width:100px !important;">Placemark Me</a>
</div>
    
{% endblock %}   



{% block main_content_body %}   
<div id='map3d'></div>
  
<div id="info">
<table id="teleport-help">
<tr>
<td class="grid1 grid">
  W = Forwards <br />
  S = Backwards
<td/>
<td class="grid2 grid">
A = Strafe Left <br />
D = Strafe Right
  
</td>
<td class="grid3 grid">
  Page Up = Move Up <br />
    Page Down = Move Down
</td>
<td class="grid4 grid">
    Up Arrow = Tilt up <br />
  Down Arrow = Tilt down
</td>
<td class="grid5 grid">
    Right Arrow = Turn right<br />
    Left Arrow = Turn left
</td>
</tr>
</table>
</div>
</div>
{% endblock %}  
 