<!--
@author: Anant Bhardwaj

Teleport Web Page
-->

<!DOCTYPE HTML>
<html>
  <head>
    <title>Teleport</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel=stylesheet href='/tp_static/css/style.css' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
    <link rel=stylesheet href='/tp_static/css/firstpersoncam.css' type='text/css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" ></script>

    <!-- node.js serves the socket.io client -->
    <script src="http://anantb.csail.mit.edu:3000/socket.io/socket.io.js"></script>

  </head>

  <body>

    <script type="text/javascript">

    //This script extracts parameters from the URL
    $.extend({
        getUrlVars : function() {
            var vars = [], hash;
            var hashes = window.location.href.slice(
                    window.location.href.indexOf('?') + 1).split('&');
            for ( var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        },
        getUrlVar : function(name) {
            return $.getUrlVars()[name];
        }
    });

    </script>

    <script>
        var apiKey = '{{api_key}}';
        var userId = '{{login_id}}';
    </script>

    <script>

    var socket = io.connect('http://anantb.csail.mit.edu:3000/');
    var sessionId, _session_id, token, session, invited;

    if ($.getUrlVar('session')) {
        _session_id = $.getUrlVar('session');
        invited = true;
    }

    socket.on('notify', function(data) {
        if (data) {
            $('#messages').prepend('<p>'+ data.msg +'</p>');
        }
    });

    socket.on('join', function (data) {
        token = data.token;
        sessionId = data.session_id;

        //TB.setLogLevel(TB.DEBUG);
        // Initialize session, set up event listeners, and connect
        session = TB.initSession(sessionId);
        session.addEventListener('sessionConnected', sessionConnectedHandler);
        session.addEventListener('streamCreated', streamCreatedHandler);
        session.connect(apiKey, token);
    });

    socket.on('message', function (data) {
        var messages = data.messages;
        for(var i in messages) {
            $('#messages').prepend('<p>['+messages[i].user_id +'] '+messages[i].message+'</p>');
        }
    });

    socket.on('leave', function (data) {
        $('body').append('</br>'+data);
    });

    socket.on('accepted', function (data) {
        socket.emit('join', {
            'user_id' : userId,
            'session_id': data.session_id
        });
    });

    socket.on('follow', function (data) {
        // update google earth with leader's coordinates
    });

    socket.on('error', function (data) {
        alert(data.error);
    });


    function resize(elemId, height) {
        var oldWidth, oldHeight, ratio, elem;
        elem = $("#" + elemId)

        oldWidth = elem.width();
        oldHeight = elem.height();
        ratio = parseFloat(oldWidth)/parseFloat(oldHeight);

        elem.height(height);
        elem.width(height * ratio);
    }

    // OpenTok stuff.
    function sessionConnectedHandler(event) {
        var elemId = 'my-chat-window';

        var publisher = TB.initPublisher(apiKey, elemId);
        session.publish(publisher);

        resize(elemId, 115);

        // Subscribe to streams that were in the session when we connected
        subscribeToStreams(event.streams);
    }

    function streamCreatedHandler(event) {
        // Subscribe to any new streams that are created
        subscribeToStreams(event.streams);
    }

    function subscribeToStreams(streams) {
        for (var i = 0; i < streams.length; i++) {
        // Make sure we don't subscribe to ourself
            if (streams[i].connection.connectionId == session.connection.connectionId) {
              return;
            }

            // Create the div to put the subscriber element in to
            var div = $('<div></div>');
            div.appendTo($('#chat-windows'))
            div.attr('id', 'stream' + streams[i].streamId);
            //document.body.appendChild(div);
            // Subscribe to the stream
            session.subscribe(streams[i], div.attr('id'));
        }
    }


    function joinChat(sessionId) {
        socket.emit('join', {
            user_id: userId,
            session_id: sessionId
        })
    }

    function initiateChat() {
        socket.emit('initiate', {'initiator': userId});
    }

    function sendMessage(message) {
        if (sessionId) {
            var msg = {
                'message': message,
                'session_id': sessionId,
                'user_id': userId
            };
            if(msg.message) {
                socket.emit('chatmsg', msg);
                $('#field').val('');
            }
        }
    }

    function inviteUser(invitee) {
        if (sessionId) {
            var msg = {
                'invitee': invitee,
                'session_id': sessionId,
                'inviter': userId
            };
            if(msg.invitee) {
                baseurl = window.location.href.split('?')[0];
                socket.emit('invite', msg);
                $('#messages').prepend("<br/>"+baseurl+"?session="+sessionId);
                $('#invitee').val('');
            }
        }
    }

    $(document).ready(function(){

        $('#send').click(function() {
            var message = $('#field').val();
            sendMessage(message);
        });

        $("#invite").click(function() {
            var invitee = $('#invitee').val()
            inviteUser(invitee);
        });

        $('form').on('submit', function () {
            return false;
        });

        if (!invited) {
            initiateChat();
        } else {
            joinChat(_session_id);
        }

    });

    </script>



    <div id="header">

        <span id="headlink-left">
        {% block headlink-left %}<a id="logo" href="/">Teleport</a>{% endblock %}
        </span>
        <span id="headlink-right">
        <a href="/logout">Log out</a>
        </span>

    </div>


    <div id="page">
      <div id="content">
        <table id="content-layout">
          <tr>
            <td class="col-small user-profile">
              <span class="profile-big"></span>
            </td>
            <td class="col-big search">
              <div class="search-container">
                <input type="text" id="search_contacts" class="search-box" title="Search Contacts"></input>
              </div>
            </td>
          </tr>

          <tr>

            <td class="col-small">
              <div class="links">
                <a class="nav" href="/contacts">Contacts</a>
                <a class="nav" href="/feed">Feed</a>
                <a class="nav active" href="/teleport">Teleport</a>
              </div>
            </td>

            <td class="col-big">

                <div class="content-inner">
                    <div id="video-chat-container">
                      <div id="chat-windows"></div>
                    </div>

                    <div id="text-chat-container">
                        <h3 class="chat-header">Chat</h3>
                        <div id="messages">
                        </div>
                    </div>
                </div>

                <div id="bottom-panel">
                    <div class="mini-chat">
                        <div id="my-chat-window"></div>
                    </div>

                    <div class="chat-controls" >
                      <form class="chat-form">
                        <div class="">
                            <div>
                                <input class="large-text" id='field' type="text" />
                                <input class="right" id='send' type="submit" value="Send" />
                            </div>
                            <br>
                            <div>
                                <input id='invitee' class="large-text" type="text" />
                                <input id='invite' type="submit" value="+ Invite" />
                            </div>
                        </div>
                      </form>
                    </div>

                </div>
            </td>

          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
