<!-- 
@author: Anant Bhardwaj

Teleport Web Page
-->

<!DOCTYPE HTML>
<html>
<head>
  <title>Teleport</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel=stylesheet href='/tp_static/css/style.css' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
  <link rel=stylesheet href='/tp_static/css/firstpersoncam.css' type='text/css' />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://www.google.com/jsapi?key=AIzaSyAdgYw9dd2TiekDSJ7tsQC0ogDcDwD673s"></script>
<script type="text/javascript" src="/tp_static/javascript/keyboard-focus-hack.js"></script>
<script type="text/javascript" src="/tp_static/javascript/math3d.js"></script>
<script type="text/javascript" src="/tp_static/javascript/firstpersoncam.js"></script>
<script type="text/javascript" src="/tp_static/javascript/teleport.js"></script>
  
</head>

<body>
<script type="text/javascript">

$(document).ready(function(){
  initTeleport()
  $("#teleport_me_btn").on('click', function(){
    var geocodeLocation = $('#teleport_input').val();
    setLocation(geocodeLocation)
    
  });

  $("#teleport_input").on('keydown', function(event){
      event.stopPropagation();
  });

  $("#teleport_input").on('keyup', function(event){
      event.stopPropagation();
  });


});

$(document).unload(function(){
  GUnload()
})

$(document).on('keydown', function(event){
  return keyDown(event)
})

$(document).on('keyup', function(event){
  return keyUp(event)
})




</script>

<div id="header">
    
    <span id="headlink-left">
    {% block headlink-left %}<a id="logo" href="/">Teleport</a>{% endblock %}
    </span>
    <span id="headlink-right">
    <a href="/logout">Log out</a>
    </span>
    
</div>


<div id="page">

<div id="content">
<table id="content-layout">
  <tr>
    <td class="col-small user-profile">
      
      <span class="profile-big"></span>
    
    </td>
    <td class="col-big search">
      <div class="search-container">
      <input type="text" id="teleport_input" class="search-box" style="width:60%;margin-right:20px;" title="Teleport Me" x-webkit-speech speech required onspeechchange="do_f(event);">
      <a class="button" href="#" id="teleport_me_btn" style="width:100px !important;">Teleport Me</a>
      </div>
    </td>
  </tr>

  <tr>
<td class="col-small">

<div class="links">
<a class="nav" href="/contacts">Contacts</a>
<a class="nav" href="/feed">Feed</a>
<a class="nav active" href="/teleport">Teleport</a>
</div>
</td>
<td class="col-big">
<div id='map3d'></div>
  
<div id="info">
<table id="teleport-help">
<tr>
<td class="grid1 grid">
  W = Forwards <br />
  S = Backwards
<td/>
<td class="grid2 grid">
A = Strafe Left <br />
D = Strafe Right
  
</td>
<td class="grid3 grid">
  Page Up = Move Up <br />
    Page Down = Move Down
</td>
<td class="grid4 grid">
    Up Arrow = Tilt up <br />
  Down Arrow = Tilt down
</td>
<td class="grid5 grid">
    Right Arrow = Turn right<br />
    Left Arrow = Turn left
</td>
</tr>
</table>
</div>
</div>

 

</td>
</tr>
</table>

</div>
</div>
</body>
</html>
